<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" style="position: sticky; top: 0; z-index: 1000;">

    <div class="container">

        <a class="navbar-brand" href="/">

            <img src="/assets/logos/Vector File.ai" width="30" height="30" class="d-inline-block align-top" alt="">    
            {{ site.title }}
            
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">

                {% for item in site.data.navigation %}

                <li class="nav-item">            
                    
                    <a class="nav-link {% if item.link == "/#contact" %} btn btn-warning shadow-sm text-dark mx-2 {% endif %}" href="{{ item.link }}">
                                                    
                        {{ item.name }}
                        
                    </a>

                </li>

                {% endfor %}
         
            </ul>

        </div>

        </div>

    </div>

</nav>