<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow">

    <div class="container">

        <a class="navbar-brand" href="/">

            <img src="/assets/logos/updated_logo.png" height="55" class="d-inline-block align-top" alt="">    
            
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <a class="navbar-brand mr-auto" href="/">

                {{ site.title }}

            </a>

            <ul class="navbar-nav ml-auto">

                {% for item in site.data.navigation %}

                <li class="nav-item">            
                    
                    <a class="nav-link" href="{{ item.link }}">
                                                    
                        {{ item.name }}
                        
                    </a>

                </li>

                {% endfor %}

                <li class="nav-item mx-1" style="text-transform: lowercase;">

                    {%- include calendly.html -%}

                </li>
         
            </ul>

        </div>

        </div>

    </div>

</nav>
