---
layout: default
---

<section class="container">

    {{ content }}

</section>

<div class="jumbotron jumbotron-fluid bg-dark text-light my-0">

    <div class="container">
    
        Headline here
    
    </div>

</div>

<div class="jumbotron jumbotron-fluid bg-primary text-light my-0">

    <div class="container">

        Text

    </div>

</div>

<div class="jumbotron jumbotron-fluid bg-secondary text-light my-0">

    <div class="container">

        Text

    </div>

</div>

<div class="jumbotron jumbotron-fluid bg-success text-light my-0">

    <div class="container">

        Text

    </div>

</div>

<div class="jumbotron jumbotron-fluid bg-danger text-light my-0">

    <div class="container">

        Text

    </div>

</div>

<div class="jumbotron jumbotron-fluid bg-info text-light my-0">

    <div class="container">

        Text

    </div>

</div>

<div class="jumbotron jumbotron-fluid bg-warning text-light my-0">

    <div class="container">

        Text

    </div>

</div>