---
layout: default
---

<section class="container">

{{ content }}

</section>

<div id="home" class="jumbotron jumbotron-fluid bg-dark text-light my-0" style="background: url(/assets/images/landing_gif.gif); background-size: cover; background-position: center;">

    <div class="container text-center my-5">

        <h1 class="display-4 font-weight-bold pt-5">We have the tutors.</h1>

        <div class="container my-5">

            <a href="#contact" class="btn btn-warning shadow-sm my-5">Register</a>

            <a href="#about" class="btn text-dark my-5">Learn More</a>

        </div>

    </div>

</div>

<div id="about" class="jumbotron jumbotron-fluid bg-dark text-light my-0">

    <div class="container text-center my-5">

        <h1 class="font-weight-bold">Smart Work. Learning.</h1>

        <div class="container my-5">

            <p>There is a lot to learn but there is so much time in a day. Give us an hour and you will see the difference. Smart Work Learning uses “Peer to Peer tutoring” - a unique three-pronged approach to achieve meaningful student academic success. Our mission is to revolutionize the way students learn.</p>

            <p>Tutoring will take place at libraries, homes, coffee shops, with a minimum of two times per week.</p>

            <p>Tutors will communicate regularly with families and teachers to track children's academic progress and net educational gains. In general, tutoring sessions will not be scheduled at times when the child would otherwise be participating in same activities in the regular classroom.</p>

            <p>Our tutors are meticulously selected to provide our clients with the personal attention students look for in their academic experience. We take great pride in our program and the various services we provide to our students to achieve their goals. We pride ourselves in delivering the best academic Peer to Peer experience by meeting YOU where you are in your studies. Our program is designed with YOU in mind. We also educate parents by giving positive and negative feedback during the tutoring process.
            </p>

            <a href="#contact" class="btn btn-warning shadow-sm my-5">Register</a>

        </div>

    </div>

</div>

<div id="pricing" class="jumbotron jumbotron-fluid bg-light text-dark my-0">

    <div class="container text-center my-5">

        <h1 class="font-weight-bold">Tuition</h1>

        <div class="container my-5">

            <p>Each session is one (1) hour.</p>

            <div class="card-deck text-center mt-5">

                <div class="card shadow-sm">

                    <div class="card-header">

                        <h4>Monthly</h4>

                        <h1 class="card-title">$320.00</h1>

                        <h6>For 8 Sessions</h6>


                    </div>

                    <div class="card-body">

                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">Perk 1</li>

                            <li class="list-group-item">Perk 2</li>

                            <li class="list-group-item">Perk 3</li>

                        </ul>

                    </div>

                </div>

                <div class="card shadow-sm">

                    <div class="card-header">

                        <h4>At-Home 1-on-1</h4>

                        <h1 class="card-title">$60.00</h1>

                        <h6>Per Session</h6>

                    </div>

                    <div class="card-body">

                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">Perk 1</li>

                            <li class="list-group-item">Perk 2</li>

                            <li class="list-group-item">Perk 3</li>

                        </ul>

                    </div>

                </div>

                <div class="card shadow-sm">

                    <div class="card-header">

                        <h4>ELS</h4>

                        <h1 class="card-title">$45.00</h1>

                        <h6>Per Session</h6>

                    </div>

                    <div class="card-body">

                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">Perk 1</li>

                            <li class="list-group-item">Perk 2</li>

                            <li class="list-group-item">Perk 3</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

        <a href="#contact" class="btn btn-warning shadow-sm my-5">Register</a>

    </div>

    </div>

</div>

<div id="contact" class="jumbotron jumbotron-fluid bg-dark text-light my-0">

    <div class="container text-center my-5">

        <h1 class="font-weight-bold">Sign up to learn more</h1>

        <div class="container my-5">

            <p>Inquire through our online form or call between 8:00 am and 6:00 pm EST Monday thru Friday and on Saturday from 10:00 am to 3:00 pm to speak to one of our staff who will discuss your students’ needs.</p>

            <form action="https://formspree.io/{{ site.formspree }}" method="POST">

                <div class="form-group">
                    <input type="text" class="form-control shadow-sm" id="InputName" name="name" placeholder="Name">
                </div>

                <div class="row">

                <div class="form-group col-7">
                    <input type="email" class="form-control shadow-sm" id="InputEmail" aria-describedby="emailHelp" name="_replyto" placeholder="Email">
                </div>
                
                <div class="form-group col-5">
                    <input type="tel" class="form-control shadow-sm" id="InputPhone" name="phone" placeholder="Phone">
                </div>

                </div>

                <div class="form-group">
                    <textarea type="text" class="form-control shadow-sm" id="InputMessage" name="message" placeholder="Message"></textarea>
                </div>
                                
                <button type="submit" class="btn btn-success btn-block shadow-sm my-5" value="Send">Send</button>

            </form>

        </div>

    </div>

</div>
